footer {
  position: absolute;
  bottom: 0;
  color: #FFFFFF;
  background-color: #151515;
}

.lien {
  text-decoration: none;
  color: #FFFFFF;
}

.lien:hover {
  text-decoration: underline;
  color: #FF8C00;
}

#copyright {
  text-align: center;
}


@media screen and (max-width: 1023px) {
  footer {
    width: 100%;
    height: 56px;
    font-size: 15px;
  }

  #copyright {
    margin: 10px 0;
    font-size: 15px;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1360px) {
  footer {
    width: 100%;
    height: 60px;
  }

  #copyright {
    margin: 10px 0;
    font-size: 18px;
  }
}


@media screen and (min-width: 1361px) {
  footer {
    width: 100%;
    height: 64px;
  }

  #copyright {
    margin: 10px 0;
    font-size: 20px;
  }
}
