@media screen and (min-width: 800px) and (max-width: 1360px) {
  footer {
    float: left;
    bottom: 0;
    width: 100%;
    margin: auto;
    padding: 0;
    color: #FFFFFF;
    background-color: #151515;
  }

  .lien {
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
  }

  .lien:hover {
    text-decoration: underline;
    color: #FF8C00;
  }

  #copyright {
    text-align: center;
  }
}

@media screen and (min-width: 1361px) {
  footer {
    float: left;
    bottom: 0;
    width: 100%;
    margin: auto;
    padding: 0;
    color: #FFFFFF;
    background-color: #151515;
  }

  #copyright {
    text-align: center;
  }
}
