* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) and (max-width: 1360px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
  }

  header {
    margin: 0;
    width: 100%;
    height: 110px;
    background-color: #151515;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  /*Titre :*/

  #title {
    float: left;
    margin: 0;
    padding: 5px 0 0 60px;
    width: 70%;
    height: 50px;
  }

  #aTitle {
    color: #FF8C00;
    font-size: 50px;
    font-weight: bold;
  }

  /*Login :*/

  #login {
    float: left;
    padding: 10px 0 0 0;
    width: 10%;
    height: 50px;
  }

  #imgLogin {
    float: left;
    padding: 0 10px 0 0;
    width: 50px;
    height: 50px;
  }

  .aLogin {
    font-size: 15px;
    color: #FFFFFF;
  }

  .aLogin:hover {
    color: #FF8C00;
  }

  /*Panier*/

  .menu_panier {
    float: right;
    margin: 10px 0 0 0;
    width: 15%;
    height: 50px;
  }

  .panier {
    float: left;
    width: 40px;
    height: 40px;
    border: 3px solid #FF8C00;
    border-radius: 50%;
    background-color: #FFFFFF;
  }

  .number_produit {
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .button {
    margin: 3% 0 3% 3%;
    width: 45%;
    height: 30px;
    background-color: #151515;
    border: 2px solid #FF8C00;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #EAEAEA;
  }

  .button:hover {
    color: #FF8C00;
  }

  /*Menu :*/

  #menu {
    float: left;
    margin: 5px 0 0 50px;
    width: auto;
    height: 45px;
  }

  #ulMenu {
    overflow: hidden;
  }

  .liMenu {
    float: left;
  }

  .aMenu {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
  }

  .aMenu:hover {
    border-bottom: 5px solid #FF8C00;
    padding: 10px 20px 7px 20px;
  }

  /*Rechercher :*/

  #search {
    float: right;
    margin: 10px 10% 0 0;
    padding: 0;
    width: 30%;
    height: 20px;
  }

  #iSearch {
    float: right;
    width: 40%;
    height: 22px;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid #FF8C00;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  #iSearch:focus {
    float: right;
    width: 80%;
    height: 22px;
    color: #eaeaea;
    background: none;
    border: none;
    border-bottom: 2px solid #FF8C00;
  }

  #bottunSearch {
    float: right;
    border: none;
    cursor: pointer;
    width: 24px;
  }

  .colorWhite {
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1361px) {
  body {
    width: 80%;
    margin: auto;
    padding: 0;
    background-color: #FFFFFF;

  }

  header {
    margin: auto;
    width: 100%;
    height: 150px;
    background-color: #151515;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  /*Titre :*/

  #title {
    float: left;
    margin: 0;
    padding: 5px 0 0 70px;
    width: 70%;
    height: 70px;
  }

  #aTitle {
    color: #FF8C00;
    font-size: 70px;
    font-weight: bold;
  }

  /*Login :*/

  #login {
    float: left;
    padding: 10px 0 0 0;
    width: 10%;
    height: 50px;
  }

  #imgLogin {
    float: left;
    padding: 0 10px 0 0;
    width: 50px;
    height: 50px;
  }

  .aLogin {
    font-size: 15px;
    color: #FFFFFF;
  }

  .aLogin:hover {
    color: #FF8C00;
  }

  /*Panier*/

  .menu_panier {
    float: right;
    margin: 10px 0 0 0;
    width: 15%;
    height: 50px;
  }

  .panier {
    float: left;
    width: 40px;
    height: 40px;
    border: 3px solid #FF8C00;
    border-radius: 50%;
    background-color: #FFFFFF;
  }

  .number_produit {
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .button {
    margin: 3% 0 3% 3%;
    width: 45%;
    height: 30px;
    background-color: #151515;
    border: 2px solid #FF8C00;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #EAEAEA;
  }

  .button:hover {
    color: #FF8C00;
  }

  /*Menu :*/

  #menu {
    float: left;
    margin: 10px 0 0 50px;
    width: auto;
    height: 60px;
  }

  #ulMenu {
    overflow: hidden;
  }

  .liMenu {
    float: left;
  }

  .aMenu {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 34px;
    text-align: center;
  }

  .aMenu:hover {
    border-bottom: 5px solid #FF8C00;
    padding: 10px 20px 12px 20px;
  }

  /*Rechercher :*/

  #search {
    float: right;
    margin: 20px 10% 0 0;
    padding: 0;
    width: 30%;
    height: 20px;
  }

  #iSearch {
    float: right;
    width: 40%;
    height: 27px;
    font-size: 18px;
    color: #FFFFFF;
    background: none;
    border: none;
    border-bottom: 2px solid #FF8C00;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  #iSearch:focus {
    float: right;
    width: 80%;
    height: 27px;
    color: #FFFFFF;
    background: none;
    border: none;
    border-bottom: 2px solid #FF8C00;
  }

  #bottunSearch {
    float: right;
    border: none;
    cursor: pointer;
    width: 29px;
  }

  .colorWhite {
    color: #FFFFFF;
  }
}

::-webkit-input-placeholder {
color: #FFFFFF;
}
