fieldset {
  float: left;
  border: 2px solid #000000;
  box-shadow: 2px 2px 0px #505050;
}

h1 {
  text-align: center;
  font-weight: bold;
}

hr {
  color: #000;
  background-color: #000;
  border: 0;
}

.info_title {
  text-align: center;
  font-weight: bold;
}

#info {
  float: left;
  border: 2px solid #000000;
  box-shadow: 2px 2px 0px #505050;
  background-color: #AAAAAA;
}

.icon {
  float: left;
}

.info_top {
  float: left;
  display: block;
}

.info {
  float: left;
  display: block;
}

.a_info {
  float: left;
  color: #103090;
  font-weight: bold;
}

.a_info:hover {
  color: #FF8C00;
}

#edit {
  background-color: #AAAAAA;
}

.label {
  display: inline-block;
  font-weight: bold;
}

.label-file {
  cursor: pointer;
  color: #103090;
  font-weight: bold;
}

.label-file:hover {
  color: #FF8C00;
}

.input_text {
  border: 1px solid #000000;
  box-shadow: 1px 1px 0px #505050;
}

.input-file {
  display: none;
}

.a_pass {
  color: #103090;
  font-weight: bold;
}

.a_pass:hover {
  color: #FF8C00;
}

.button {
  background-color: #151515;
  border: 2px solid #151515;
  border-radius: 5px;
  color: #EAEAEA;
}

.button:hover {
  color: #FF8C00;
}

.centrage {
  text-align: center;
}


@media screen and (max-width: 1023px) {
  #main{
    width: 100%;
    padding-bottom: 100px;
  }

  fieldset {
    margin: 2%;
  }

  h1 {
    margin: 1% 0 0 0;
    font-size: 40px;
  }

  hr {
    height: 2px;
    margin: 2% 2% 0 2%;
    padding: 0;
  }

  .info_title {
    margin: 1% 0 0 0;
    font-size: 25px;
  }

  #info {
    margin: 2% 2%;
    width: 96%;
    font-size: 20px;
  }

  .icon {
    margin: 5% 0 0 2%;
    width: 50px;
    height: 50px;
  }

  .info_top {
    margin: 5% 0 0 2%;
    width: 60%;
    font-size: 20px;
  }

  .info {
    margin: 2% 0 0 2%;
    width: 60%;
    font-size: 20px;
  }

  .a_info {
    margin: 2% 0 2% 2%;
    font-size: 18px;
  }

  #edit {
    margin: 0 0 0 2%;
    width: 96%;
  }

  .label {
    display: block;
    margin: 5% 5% 0 5%;
    width: 50%;
    font-size: 20px;
  }

  .preview {
    margin: 5% 0 0 5%;
    width: 50px;
    height: 50px;
  }

  .label-file {
    margin: 0 0 0 5%;
    font-size: 18px;
  }

  .input_text {
    margin: 5% 0 0 5%;
    width: 50%;
    height: 20px;
  }

  .a_pass {
    display: inline-block;
    margin: 5% 0 0 5%;
    font-size: 18px;
  }

  .button {
    width: 100px;
    height: 30px;
  }

  .centrage {
    margin: 5% 0 2% 0;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1360px) {
  #main {
    width: 100%;
  }

  fieldset {
    margin: 2% 0 2% 5%;
  }

  h1 {
    margin: 1% 0 0 0;
    font-size: 40px;
  }

  hr {
    height: 2px;
    margin: 2% 2% 0 2%;
    padding: 0;
  }

  .info_title {
    margin: 1% 0 0 0;
    font-size: 25px;
  }

  #info {
    margin: 2% 0 2% 5%;
    width: 25%;
    font-size: 20px;
  }

  .icon {
    margin: 5% 0 0 2%;
    width: 50px;
    height: 50px;
  }

  .info_top {
    margin: 5% 0 0 2%;
    width: 60%;
    font-size: 20px;
  }

  .info {
    margin: 2% 0 0 2%;
    width: 60%;
    font-size: 20px;
  }

  .a_info {
    margin: 2% 0 2% 2%;
    font-size: 18px;
  }

  #edit {
    width: 60%;
  }

  .label {
    margin: 5% 5% 0 5%;
    width: 20%;
    font-size: 20px;
  }

  .preview {
    margin: 5% 0 0 0;
    width: 50px;
    height: 50px;
  }

  .label-file {
    font-size: 18px;
  }

  .input_text {
    margin: 5% 0 0 0;
    width: 50%;
    height: 20px;
  }

  .a_pass {
    font-size: 18px;
  }

  .button {
    width: 15%;
    height: 30px;
  }

  .centrage {
    margin: 5% 0 2% 0;
  }
}


@media screen and (min-width: 1361px) {
  fieldset {
    margin: 2% 0 2% 5%;
  }

  h1 {
    margin: 1% 0 0 0;
    font-size: 40px;
  }

  hr {
    height: 2px;
    margin: 2% 2% 0 2%;
    padding: 0;
  }

  .info_title {
    margin: 1% 0 0 0;
    font-size: 25px;
  }

  #info {
    margin: 2% 0 2% 5%;
    width: 25%;
    font-size: 20px;
  }

  .icon {
    margin: 5% 0 0 2%;
    width: 50px;
    height: 50px;
  }

  .info_top {
    margin: 5% 0 0 2%;
    width: 60%;
    font-size: 20px;
  }

  .info {
    margin: 2% 0 0 2%;
    width: 60%;
    font-size: 20px;
  }

  .a_info {
    margin: 2% 0 2% 2%;
    font-size: 18px;
  }

  #edit {
    width: 60%;
  }

  .label {
    margin: 5% 5% 0 5%;
    width: 20%;
    font-size: 20px;
  }

  .preview {
    margin: 5% 0 0 0;
    width: 50px;
    height: 50px;
  }

  .label-file {
    font-size: 18px;
  }

  .input_text {
    margin: 5% 0 0 0;
    width: 50%;
    height: 20px;
  }

  .a_pass {
    font-size: 18px;
  }

  .button {
    width: 15%;
    height: 30px;
  }

  .centrage {
    margin: 5% 0 2% 0;
  }
}
